<form>
<div>
  <label for="Title">Title: </label>
  <input type="title" name="title" id="title" [(ngModel)]="appModel.title">
  <label for="Checked">Checked: </label>
  <input type="checkbox" name="checked" id="checked" [(ngModel)]="appModel.checked">
  <label for="categories">Category: </label>
  <select name="categories" id="categories" [(ngModel)]="appModel.category">
    <option value="kaja">kaja</option>
    <option value="pia">pia</option>
    <option value="nők">nők</option>
  </select>
  <label for="Text">Text: </label>
  <input type="text" name="text" id="text" [(ngModel)]="appModel.text">
</div>
<button (click)="showAppModelValue()">Show me what you got!</button>
</form>