<h1>Task Manager</h1>

<app-create-edit-task [model]="taskModel"></app-create-edit-task>

<form>
<hr>
<br>
<br>
<div style="text-align:center">
<label class="font" for="Name">Name </label>
<br>
<input class="input" placeholder="Start with uppercase" type="name" name="name" id="name" [(ngModel)]="appModel.name" (blur)="validateName($event)">
<br>
<p *ngIf="!nameChecker(appModel.name)" class="alert">The first letter should be uppercase!</p>
<br>
<br>
<label class="font" for="Email">Email </label>
<br>
<input class="input" placeholder="somebody@domain.com" type="email" name="email" id="email" [(ngModel)]="appModel.email" (change)="validateEmail($event)">
<br>
<p *ngIf="appModel.email && !emailChecker(appModel.email)" class="alert">Invalid format!</p>
<br>
<br>
<label class="font" for="Password">Password </label>
<br>
<input class="input" placeholder="It could be weak, medium or strong" type="password" name="password" id="password" [(ngModel)]="appModel.password" [ngClass]="{'passwordWeak': passwordChecker(!appModel.password)}">
<br>
<br>
<br>
<button class="button" (click)="showAppModelValue()">Send</button>
</div>
</form>


<!-- - disabled
- value
- ngIf
- email regexp suffix .com -->